<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<!--站点日志配置部分-->
	<log4net>
		<!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
		<!-- Set root logger level to ERROR and its appenders -->
		<!--
		<root>：实际上就是一个根logger，所有其它logger都默认继承它
		支持子元素：
		appender-ref：0个或多个，要引用的appender的名字；
		level：最多一个。 只有在这个级别或之上的事件才会被记录；
		param：0个或多个， 设置一些参数；
		-->
		<root>
			<!--控制级别，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
			<!--比如定义级别为INFO，则INFO级别向下的级别，比如DEBUG日志将不会被记录-->
			<!--如果没有定义LEVEL的值，则默认为DEBUG-->
			<level value="INFO"/>
		</root>


		<!--
		<logger>：
			支持的属性：
			name：必须的，logger的名称
			additivity：可选，取值是true或false，默认值是true。设置为false时将阻止父logger中的appender

			支持的子元素：
			appender-ref：0个或多个，要引用的appender的名字
			level：最多一个。 只有在这个级别或之上的事件才会被记录。
			param：0个或多个， 设置一些参数。
		-->
		<!--只记录文件日志-->
		<!--默认日志-->
		<logger name="Default_File" additivity="false">
			<level value="INFO"/>
			<appender-ref ref="DefaultLogFileAppender_Info"/>
			<appender-ref ref="DefaultLogFileAppender_Debug"/>
			<appender-ref ref="DefaultLogFileAppender_Warn"/>
			<appender-ref ref="DefaultLogFileAppender_Error"/>
			<appender-ref ref="DefaultLogFileAppender_Fatal"/>
		</logger>

		<!--默认异常日志-->
		<logger name="Default_Ex_File" additivity="false">
			<level value="ERROR"/>
			<appender-ref ref="DefaultLogFileAppender_Ex_Error"/>
			<appender-ref ref="DefaultLogFileAppender_Ex_Fatal"/>
		</logger>

		<!--管理员权限日志-->
		<logger name="Admin_File" additivity="false">
			<level value="INFO"/>
			<appender-ref ref="AdminLogFileAppender_Info"/>
			<appender-ref ref="AdminLogFileAppender_Debug"/>
			<appender-ref ref="AdminLogFileAppender_Warn"/>
			<appender-ref ref="AdminLogFileAppender_Error"/>
			<appender-ref ref="AdminLogFileAppender_Fatal"/>
		</logger>

		<!--管理员权限异常日志-->
		<logger name="Admin_Ex_File" additivity="false">
			<level value="ERROR"/>
			<appender-ref ref="AdminLogFileAppender_Ex_Error"/>
			<appender-ref ref="AdminLogFileAppender_Ex_Fatal"/>
		</logger>

		<!-- 控制台程序日志 -->
		<logger name="ConsoleDefault" additivity="false">
			<level value="INFO"/>
			<appender-ref ref="ConsoleAppender"/>
		</logger>
		<logger name="ColoredConsoleDefault" additivity="false">
			<level value="INFO"/>
			<appender-ref ref="ColoredConsoleAppender"/>
		</logger>

		<!-- 控制台异常程序日志 -->
		<logger name="ConsoleDefault_Ex" additivity="false">
			<level value="ERROR"/>
			<appender-ref ref="ConsoleAppender_Ex"/>
		</logger>
		<logger name="ColoredConsoleDefault_Ex" additivity="false">
			<level value="ERROR"/>
			<appender-ref ref="ColoredConsoleAppender_Ex"/>
		</logger>


		<!-- SQL日志 -->
		<logger name="DefaultLog_Sql" additivity="false">
			<level value="INFO"/>
			<appender-ref ref="AdoNetAppender"/>
		</logger>


		<!-- 将日志写到文件中 -->
		<appender name="DefaultLogFileAppender_Info" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Info\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Info_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="INFO" />
				<param name="LevelMax" value="INFO" />
			</filter>
		</appender>
		<appender name="DefaultLogFileAppender_Debug" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Debug\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Debug_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG" />
				<param name="LevelMax" value="DEBUG" />
			</filter>
		</appender>
		<appender name="DefaultLogFileAppender_Warn" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Warn\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Warn_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="WARN" />
				<param name="LevelMax" value="WARN" />
			</filter>
		</appender>
		<appender name="DefaultLogFileAppender_Error" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Error\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Error_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="ERROR" />
			</filter>
		</appender>
		<appender name="DefaultLogFileAppender_Fatal" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Fatal\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Fatal_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="FATAL" />
				<param name="LevelMax" value="FATAL" />
			</filter>
		</appender>

		<appender name="DefaultLogFileAppender_Ex_Error" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Error\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Error_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n【异常信息】：%exception%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="ERROR" />
			</filter>
		</appender>
		<appender name="DefaultLogFileAppender_Ex_Fatal" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Fatal\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Fatal_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n【异常信息】：%exception%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="FATAL" />
				<param name="LevelMax" value="FATAL" />
			</filter>
		</appender>

		<!-- Admin_File管理员权限的日志 -->
		<appender name="AdminLogFileAppender_Info" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Info\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Info_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n【源码信息】：%location%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="INFO" />
				<param name="LevelMax" value="INFO" />
			</filter>
		</appender>
		<appender name="AdminLogFileAppender_Debug" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Debug\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Debug_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n【源码信息】：%location%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG" />
				<param name="LevelMax" value="DEBUG" />
			</filter>
		</appender>
		<appender name="AdminLogFileAppender_Warn" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Warn\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Warn_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n【源码信息】：%location%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="WARN" />
				<param name="LevelMax" value="WARN" />
			</filter>
		</appender>
		<appender name="AdminLogFileAppender_Error" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Error\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Error_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n【源码信息】：%location%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="ERROR" />
			</filter>
		</appender>
		<appender name="AdminLogFileAppender_Fatal" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Fatal\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Fatal_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n【源码信息】：%location%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="FATAL" />
				<param name="LevelMax" value="FATAL" />
			</filter>
		</appender>

		<!-- Admin_Ex_File管理员权限的异常日志 -->
		<appender name="AdminLogFileAppender_Ex_Error" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Error\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Error_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n【源码信息】：%location%n【异常信息】：%exception%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="ERROR" />
			</filter>
		</appender>
		<appender name="AdminLogFileAppender_Ex_Fatal" type="log4net.Appender.RollingFileAppender">
			<!--多线程时采用最小锁定：记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- 不自动生成空白文件 -->
			<lockingModel type="Common.Helper.MinimalLockDeleteEmpty"/>
			<!--目录路径，可以是相对路径或绝对路径-->
			<param name="File" value="log\\Fatal\\"/>
			<!--文件名，按日期生成文件夹-->
			<param name="DatePattern" value="/yyyy-MM/&quot;Fatal_&quot;MM-dd-HH&quot;.log&quot;"/>
			<!--追加到文件-->
			<appendToFile value="true"/>
			<!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
			<rollingStyle value="Composite"/>
			<preserveLogFileNameExtension value="true"/>
			<!--写到一个文件-->
			<staticLogFileName value="false"/>
			<!--单个文件大小。单位:KB|MB|GB-->
			<maximumFileSize value="5MB"/>
			<!--最多保留的文件数，设为"-1"则不限-->
			<maxSizeRollBackups value="20"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n【%d】：%m%n【源码信息】：%location%n【异常信息】：%exception%n" />
			</layout>
			<!--限制只写信息日志-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="FATAL" />
				<param name="LevelMax" value="FATAL" />
			</filter>
		</appender>


		<!-- 将日志输出到控制台 -->
		<appender name="ConsoleAppender"  type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern"  value="%n【[%5p][%d]】=> %m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="INFO" />
				<param name="LevelMax" value="WARN" />
			</filter>
		</appender>

		<!-- 控制台异常日志 -->
		<appender name="ConsoleAppender_Ex"  type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern"  value="%n【[%5p][%d]】=> %m%n【异常信息】：%exception%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="FATAL" />
			</filter>
		</appender>

		<!-- 控制台颜色日志 -->
		<appender name="ColoredConsoleAppender"  type="log4net.Appender.ColoredConsoleAppender" >
			<mapping>
				<level value="WARN" />
				<foreColor value="Yellow" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern"  value="%n【[%5p][%d]】=> %m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="INFO" />
				<param name="LevelMax" value="WARN" />
			</filter>
		</appender>

		<!-- 控制台颜色异常日志 -->
		<appender name="ColoredConsoleAppender_Ex"  type="log4net.Appender.ColoredConsoleAppender" >
			<mapping>
				<level value="FATAL" />
				<foreColor value="White" />
				<backColor value="Red" />
			</mapping>
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red" />
			</mapping>

			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern"  value="%n【[%5p][%d]】=> %m%n【异常信息】：%exception%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="FATAL" />
			</filter>
		</appender>

		<!-- 将日志写入到数据库 -->
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<!--BufferSize为缓冲区大小，只有日志记录达到设定值才会一块写入到数据库-->
			<bufferSize value="1" />
			<!--postgresql需要的客户端控件-->
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="Data Source=.;Initial Catalog=DataCow;Integrated Security=True" />
			<commandText value="insert into [UserLog]([LogKindID],[Operator],[LogContent]) values(@LogKindID,@Operator,@LogContent)" />

			<parameter>
				<parameterName value="@LogKindID" />
				<dbType value="Int32" />
				<layout type="Common.Helper.MyLayout" >
					<conversionPattern value="%property{LogKindID}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Operator" />
				<dbType value="Int32" />
				<layout type="Common.Helper.MyLayout">
					<conversionPattern value="%property{Operator}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@LogContent" />
				<dbType value="String" />
				<!--长度不可以省略，否则不会输出-->
				<size value="2000000000" />
				<layout type="Common.Helper.MyLayout">
					<conversionPattern value="%property{LogContent}" />
				</layout>
			</parameter>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="INFO" />
				<param name="LevelMax" value="INFO" />
			</filter>

		</appender>

	</log4net>
</configuration>
